<div class="container">
  <!-- Organization details section -->
  <div class="row">
    <h1><%= @organization.name %></h1>
    <div class="col-lg-6">
      <div class="row">
        <p><strong>Review: </strong><%= @org_rating%></p>
        <p><strong>Address: </strong><%= @organization.address %></p>
        <p><strong>Website: </strong><a href="http://<%= @organization.website%>"><%= @organization.website %></a></p>
        <!-- Organiation appliacation status -->
        <% if user_signed_in? %>
        <% if @current_application.present? %>
        <p><strong>Membership status: </strong><%= @current_application.aasm_state %></p>
        <% else %>
        <p><strong>Membership status: </strong>Not applied yet</p>
        <% end %>
        <% if @current_application&.approved? %>
        <%= link_to 'Leave organization', organization_application_path(@organization), class:"btn btn-danger btn-sm", method: :delete %>
        <% end %>
        <% end %>
      </div>
      <br>
      <!-- Images section -->
      <div class="row" id='images'>
        <%= render 'organizations/pictures' , organization: @organization %>
        <br>
        <% if can? :edit, @organization %>
          <p id='add_picture'><%= link_to 'Add pictures', edit_organization_path(@organization), remote: true %></p>
        <% end %>
      </div>
    </div>
    <!-- Map  -->
    <div class='col-lg-6' >
      <div id="map" class='well well-lg' style='height: 400px;'></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-6">
      <!-- Events sections -->
      <div class="row">
        <h2>Events</h2>
        <% if @events.present? %>
          <% @events.each_with_index do |event, k| %>
            <div class="well well-lg">
              <p><strong>Start date: </strong><%= event.start_date.to_date %></p>
              <p><strong>End date: </strong><%= event.end_date.to_date %></p>
              <p><strong>available spots: </strong><%= event.spots_left %></p>
              <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal<%="#{k}" %>">
                More info
              </button>
              <div class="modal fade" id="myModal<%="#{k}" %>" role="dialog">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Details</h4>
                    </div>
                    <div class="modal-body">
                      <p><%= event.details%></p>
                      <p><%= link_to 'Event page', organization_event_path(@organization, event) %></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
          <%= link_to 'Add new Event', new_organization_event_path(@organization), remote: true if can? :create,   %>
      </div>
    </div>
    <div class="col-lg-6">
      <% if user_signed_in? %>
      <% if !@current_application.present? %>
      <h2>Apply Here</h2>
      <h4>Additional info</h4>
      <p><%= @organization.additional %></p>
      <%= simple_form_for [@organization, @new_application] do |f| %>
      <%= f.input :detail %>
      <%= f.submit class:'btn btn-primary', value:'Request' %>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <h2>Reviews</h2>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <% @reviews.each do |review| %>
        <p><strong>stars: </strong><%= review.rating %></p>
        <p><%= review.body %></p>
        <p><strong><%= review.user.full_name %></strong></p>
        <hr>
        <% end  %>
      </div>
      <% if user_signed_in? && @current_application&.approved? %>
        <div class="col-lg-6">
          <%= simple_form_for [@organization, @review] do |f| %>
            <%= f.input :body  %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.submit %>
          <% end  %>
        </div>
      <% end  %>
    </div>
  </div>
  <!-- Org member managemenent section -->
  <%# if @organization.user == current_user %>
  <% if can? :create, @organization %>
    <div class="row">
      <h2>Manage</h2>
      <hr>
      <!-- pending memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Pending</th>
            </tr>
          </thead>
          <tbody id='pending_applications'>
            <% @organization.pending_applications.each_with_index do |application, k| %>
              <%= render 'organizations/pending_applications', application: application, k: k %>
            <% end  %>
          <tbody>
        </table>
      </div>
      <!-- approved memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody>
            <% @organization.approved_applications.each_with_index do |application, k| %>
              <%= render 'organizations/resolved_applications', application: application, k: k %>
            <% end  %>
          <tbody>
        </table>
      </div>
      <!-- Rejected memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody>
            <% @organization.rejected_applications.each_with_index do |application, k| %>
              <%= render 'organizations/resolved_applications', application: application, k: k %>
            <% end  %>
          <tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<!--////////////////////////////////////////////////////////////////////////////  -->
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @organization.latitude %>,
      "lng": <%= @organization.longitude %>,
      "infowindow": "<%= @organization.name %>"
    },

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
  });
</script>
