<div class="container">
  <!-- Organization details section -->
  <div class="row">
    <h1><%= @organization.name %></h1>
    <div class="col-lg-6">
      <div class="row">
        <p><strong>Review: </strong><%= @org_rating%></p>
        <p><strong>Address: </strong><%= @organization.address %></p>
        <p><strong>Website: </strong><a href="http://<%= @organization.website%>"><%= @organization.website %></a></p>
        <!-- Organiation appliacation status -->
        <% if user_signed_in? %>
        <% if @current_application.present? %>
        <p><strong>Membership status: </strong><%= @current_application.aasm_state %></p>
        <% else %>
        <p><strong>Membership status: </strong>Not applied yet</p>
        <% end %>
        <% if @current_application&.approved? %>
        <%= link_to 'Leave organization', organization_application_path(@organization), class:"btn btn-danger btn-sm", method: :delete %>
        <% end %>
        <% end %>
      </div>
      <br>
      <!-- Images section -->
      <div class="row" id='images'>
        <%= render 'organizations/pictures' , organization: @organization %>
        <br>
      <% if can? :edit, @organization %>
        <%= render 'organizations/add_picture', organization: @organization %>
      <% end %>
      </div>
    </div>
<!-- Map  -->
    <div class='col-lg-6' >
      <div id="map" class='well well-lg' style='height: 400px;'></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2>Events</h2>
    <div class="col-lg-6">
      <!-- Events sections -->
      <div class="row">
        <div id='event'>
          <%= render 'events/events', events: @events %>
        </div>
        <%= render 'events/add_event', organization: @organization %>
      </div>
    </div>
<!-- Application Area -->
    <div class="col-lg-6" id='application_panel'>
    <% if user_signed_in? %>
      <% if !@current_application.present? %>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Apply Here</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                  <h2>Apply Here</h2>
                  <h4>Additional info</h4>
                  <p><%= @organization.additional %></p>
                  <%= simple_form_for [@organization, @new_application] do |f| %>
                    <%= f.input :detail %>
                    <%= f.submit class:'btn btn-primary', value:'Request' %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

  <div class="row">
    <h2>Reviews</h2>
    <hr>
    <div class="row">
      <div class="col-lg-6">
        <% @reviews.each do |review| %>
        <p><strong>stars: </strong><%= review.rating %></p>
        <p><%= review.body %></p>
        <p><strong><%= review.user.full_name %></strong></p>
        <hr>
        <% end  %>
      </div>
      <% if user_signed_in? && @current_application&.approved? %>
        <div class="col-lg-6">
          <%= simple_form_for [@organization, @review] do |f| %>
            <%= f.input :body  %>
            <%= f.input :rating, collection: 1..5 %>
            <%= f.submit %>
          <% end  %>
        </div>
      <% end  %>
    </div>
  </div>
  <!-- Org member managemenent section -->
  <%# if @organization.user == current_user %>
  <% if can? :create, @organization %>
    <div class="row">
      <h2>Manage</h2>
      <hr>
      <!-- pending memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Pending</th>
            </tr>
          </thead>
          <tbody id='pending_applications'>
              <%= render 'organizations/pending_applications', organization: @organization %>
          <tbody>
        </table>
      </div>
      <!-- approved memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Approved</th>
            </tr>
          </thead>
          <tbody id='approved_applications'>
              <%= render 'organizations/resolved_applications', organization: @organization.approved_applications %>
          <tbody>
        </table>
      </div>
      <!-- Rejected memebrs list -->
      <div class="col-lg-4">
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Rejected</th>
            </tr>
          </thead>
          <tbody id='rejected_applications' >
              <%= render 'organizations/resolved_applications', organization: @organization.rejected_applications %>
          <tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>

<!--////////////////////////////////////////////////////////////////////////////  -->
<script>
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @organization.latitude %>,
      "lng": <%= @organization.longitude %>,
      "infowindow": "<%= @organization.name %>"
    },

  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(20);
  });
</script>
